@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");

* {
    font-family: IM Fell English, Eczar, Georgia, serif;
    font-size: 1.25rem;
}

canvas {
    image-rendering: pixelated;
    border: 1px solid #000;
    touch-action: none;
}

p {
    width: fit-content;
}

#header {
    margin: 10px 0px 20px 0px;
}

#game {
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 0;
}

#overlay {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hidden {
    display: none !important;
}

#info_container {
    grid-column: 2;
    justify-self: center;
    align-self: start;
    display: flex;
    margin: 5px;
}

#show_upgrades {
    pointer-events: auto;
    grid-row: 1;
    grid-column: 3;
    justify-self: right;
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin: 5px;
}

#legend {
    margin: 5px;
    justify-self: left;
    align-self: end;
    grid-row: 3;
    grid-column: 1;
}

#info_container > div {
    margin: 0px 20px;
    display: flex;
    align-items: flex-end;
    text-wrap-mode: nowrap;
}

#upgrades_container {
    position: absolute;
    z-index: 2;
    display: grid;
    background-color: rgba(255, 255, 255, 0.9);
}

#upgrades_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

#upgrades_title {
    grid-column: 2;
    justify-self: center;
}

#hide_upgrades {
    grid-column: 3;
    justify-self: right;
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin: 5px;
}

#upgrades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 10px;
    overflow-y: auto;
}

button.upgrade {
    width: 100%;
    margin: 5px 0px;
}

button.upgrade.cannot_afford:enabled > div.upgrade_title {
    color: red;
}

button.upgrade.purchased {
    background-color: rgb(188, 214, 188);
}

button.upgrade > div.upgrade_details {
    text-align: left;
}

button.upgrade > div.upgrade_details > ul {
    margin-block-start: 0px;
    margin-inline-start: 0.5em;
    padding-inline-start: 1em;
}

li:before {
    content: "";
    margin-left: -0.4rem;
}

span.dirt {
    color: rgb(133, 84, 5);
}

span.grass {
    color: rgb(60, 180, 90);
}

span.tombstone {
    color: rgb(170, 170, 170);
}

span.gold {
    color: rgb(240, 190, 26);
}

span.diamond {
    color: rgb(155, 232, 250);
}

.pulsing {
    animation: 0.5s ease-in-out 4 alternate pulse;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}
