canvas {
    image-rendering: pixelated;
    border: 1px solid #000;
    touch-action: manipulation;
}

p {
    width: fit-content;
}

div#game {
    width: fit-content;
    height: fit-content;
}

.hidden {
    display: none;
}

.info_container > .separator {
    padding: 0px 30px;
}

.upgrades_container {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 10px;
}

button.upgrade {
    width: 100%;
    margin: 5px 0px;
}

button.upgrade.cannot_afford:enabled > div.upgrade_title {
    color: red;
}

button.upgrade.purchased {
    background-color: rgb(188, 214, 188);
}

button.upgrade > div.upgrade_details {
    text-align: left;
}

button.upgrade > div.upgrade_details > ul {
    margin-block-start: 0px;
    margin-inline-start: 0.5em;
    padding-inline-start: 1em;
}

li:before {
    content: "";
    margin-left: -0.4rem;
}

span.dirt {
    color: rgb(133, 84, 5);
}

span.grass {
    color: rgb(60, 180, 90);
}

span.tombstone {
    color: rgb(170, 170, 170);
}

span.gold {
    color: rgb(240, 190, 26);
}

span.diamond {
    color: rgb(155, 232, 250);
}

.pulsing {
    animation: 0.5s ease-in-out 4 alternate pulse;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}
